<% form_for(@list, :html => { :class => 'ajax' }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'page_sections/form_include'%>
  <h3>List items:</h3>
  <ol id="list_items">
  	<%= render :partial => 'list_item', :collection => @list.list_items %>
  </ol>
  <p><%= link_to_function "Add item" do |page| 
	page << "$('#list_items').append('" + escape_javascript( render :partial => 'list_item', :object => ListItem.new ) + "');"
	end %></p>
  <p>
    <%= f.submit "Submit", :class => 'submit' %>
  </p>
<% end %>

<script type="text/javascript">
		$('#list_items').sortable({
			handle: '.list_item_drag_handle',
			scroll: true,
			items: 'li',
			update: function() {
				$.post('/list_items/order', $(this).sortable('serialize'));
			} 
		});
</script>
