<h1>Listing article_lists</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for article_list in @article_lists %>
  <tr>
    <td><%=h article_list.name %></td>
    <td><%= link_to 'Show', article_list %></td>
    <td><%= link_to 'Edit', edit_article_list_path(article_list) %></td>
    <td><%= link_to 'Destroy', article_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New article_list', new_article_list_path %>
