<% form_for(@seo_profile, :html => { :class => "ajax" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :keywords %><br />
    <%= f.text_area :keywords, :rows => 3 %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  <p>
    <%= f.label :alt_prefix %><br />
    <%= f.text_field :alt_prefix %>
  </p>
  <p>
    <%= f.label :heading %><br />
    <%= f.text_field :heading %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>