<h4 class="hidden">Page Menu</h4>
<% if @site_section == @site_section_root %>
	<ul id="pagemenu">
	<% for page in @site_section.pages %>
		<% content_tag_for(:li, page) do %>
			<% if authorized? %>
				<%= image_tag("drag_handle.png", :size => "16x16", :class => "page_drag_handle") %>
				<%= link_to(image_tag("pencil.png", :size => "16x16"), edit_site_section_page_path(@site_section, page), {:title => "Edit"}) %>
				<%= link_to(image_tag("fail.png", :size => "16x16"), site_section_page_path(@site_section, page), { :confirm => 'Are you sure?', :method => :delete, :title => "Delete"} ) %>
			<% end %>
			<%= link_to page.name, site_section_page_path(@site_section, page), :class => ( @page == page ? "active" : "inactive" ) %>
		<% end %>
	<% end %>
	</ul>
	<% if authorized? %>	
		<% content_for :page_js do %>
			<script type="text/javascript">
				$( function() {
					$('#pagemenu').sortable({
						handle: '.page_drag_handle',
						items: 'li',
						update: function() {
							$.post('/pages/order', $(this).sortable('serialize'));
						} 
					});
				});
			</script>
		<% end %>
	<% end %>
<% else %>
	<% if super_authorized? %>
		<%= image_tag('add.png', :size => "16x16", :alt => "Add Sub-section") %>
		<%= link_to('Add Sub-section', { :controller => 'site_sections', :action => 'new', :parent_id => @site_section_root }) %>
	<% end %>
	<ul id="section-pagemenu">
	<% for section in @site_section_root.children %>
		<% content_tag_for(:li, section, :class => (section == @site_section ? 'active' : 'inactive')) do %>
			<% if authorized? %>
				<%= image_tag("drag_handle.png", :size => "16x16", :class => "section_drag_handle") %>
				<%= link_to(image_tag('pencil.png', :size => "16x16", :alt => "Edit Section"), edit_site_section_path(section)) %>
			<% end %>
			<% if super_authorized? %>
				<%= link_to(image_tag('fail.png', :size => "16x16", :alt => "Delete Section"), section, { :confirm => "Are you sure?", :method => :delete }) %>
				<%= link_to(image_tag('add.png', :size => "16x16", :alt => "Add Page to Section"), new_site_section_page_path(section)) %>
			<% end %>
			<span><%= section.name %></span>
			<ul id="pagemenu_<%= section.id %>"<%= (section != @site_section ? ' style="display: none;"' : '') %>>
			<% for page in section.pages %>
				<% content_tag_for(:li, page) do %>
					<% if authorized? %>
						<%= image_tag("drag_handle.png", :size => "16x16", :class => "page_drag_handle") %>
						<%= link_to(image_tag("pencil.png", :size => "16x16"), edit_site_section_page_path(section, page), {:title => "Edit"}) %>
						<%= link_to(image_tag("fail.png", :size => "16x16"), site_section_page_path(section, page), { :confirm => 'Are you sure?', :method => :delete, :title => "Delete"} ) %>
					<% end %>
					<%= link_to page.name, site_section_page_path(section, page), :class => ( @page == page ? "active" : "inactive" ) %>
				<% end %>
			<% end %>
			</ul>
			<% if authorized? %>	
				<% content_for :page_js do %>
					<script type="text/javascript">
						$( function() {
							$('#pagemenu_<%= section.id %>').sortable({
								handle: '.page_drag_handle',
								items: 'li',
								update: function() {
									$.post('/pages/order', $(this).sortable('serialize'));
								} 
							});
						});
					</script>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	</ul>
	<% if authorized? %>	
		<% content_for :page_js do %>
			<script type="text/javascript">
				$( function() {
					$('#section-pagemenu').sortable({
						handle: '.section_drag_handle',
						items: 'li',
						update: function() {
							$.post('/site_sections/order', $(this).sortable('serialize'));
						} 
					});
					$('#section-pagemenu li.site_section span').bind('click', function(event){
						$(this).next('ul').toggle();
					});
				});
			</script>
		<% end %>
	<% else %>
		<% content_for :page_js do %>
			<script type="text/javascript">
				$( function() {
					$('#section-pagemenu li.site_section span').bind('click', function(event){
						$(this).next('ul').slideToggle("fast");
					});
				});
			</script>
		<% end %>
	<% end %>
<% end %>