<% div_for(@page_section, :class => (@page_section.content_type.downcase + "-" + @page_section.id.to_s) + " " + @page_section.class_name + (@page_section.has_scroll? ? (@page_section.is_vertical_scroll? ? " vertical-scroll" : " horizontal-scroll" ) : "")) do %>
	<% if @page_section.has_scroll? && @page_section.is_vertical_scroll? %>
		<div id="scroll_page_section_<%= @page_section.id %>">
	<% end %>
	<% if @page_section.show_title? %>
		<h4><%=h @page_section.title %></h4>
	<% end %>
		<%= image_tag("drag_handle.png", :size => "16x16", :class => "page_section_drag_handle") + " change page section order<br />" if super_authorized? and @page.page_sections.count > 1 %>
		<%= render :partial => 'common/content_switch', :locals => { :page => @page, :page_section => @page_section } %>
	<% if @page_section.has_scroll? && @page_section.is_vertical_scroll? %>
		</div>
	<% end %>
	<% if @page_section.has_scroll? %>
		<% if @page_section.is_vertical_scroll? %>
			<%= render :partial => 'common/vertical_scroll', :locals => { :for_section => (@for_section = true) } %>
		<% else %>
			<%= render :partial => 'common/horizontal_scroll', :locals => { :for_section => (@for_section = true) } %>
		<% end %>
	<% end %>
<% end %>
<script type="text/javascript">
$(document).ready( function(){
	$('#page_section_<%= @page_section.id.to_s %>').data( "page_id", "<%= @page.id.to_s %>").data("page_section_id", "<%= @page_section.id.to_s %>");
})
</script>