<% content_tag_for(:li, file_list_item) do %>
	<% if authorized? %>
		<%= image_tag("drag_handle.png", :size => "16x16", :class => "file_list_item_drag_handle") %>
		<%= link_to(image_tag("pencil.png", :size => "16x16"), edit_uploaded_file_list_file_list_item_path(@file_list,file_list_item), :title => "Edit", :class => 'modal update_page_section_' + @page_section.id.to_s ) %>
		<%= link_to(image_tag("fail.png", :size => "16x16"), uploaded_file_list_file_list_item_path(@file_list,file_list_item), :title => "Delete", :class => 'ajax-delete' )%>
	<% end %>
	<div class="application">
		<%= file_list_item.description %><br />
		<%= link_to file_list_item.file_file_name, file_list_item.file.url %>
	</div>
<% end %>