<div id="scroll_buttons<%= ( @for_section ? '_' + @page_section.id.to_s : '' ) %>" class="scroll-buttons-horizontal">
	<%= image_tag 'scroll-left.png', :id => "scroll_left" + ( @for_section ? '_' + @page_section.id.to_s : '' ), :class => "scroll-left", :size => "9x12", :alt => "scroll left" %>
	<%= image_tag 'scroll-right.png', :id => "scroll_right" + ( @for_section ? '_' + @page_section.id.to_s : '' ), :class => "scroll-right", :size => "9x12", :alt => "scroll right" %>
</div>
<script type="text/javascript">
$(document).ready( function() {
	$('#page_section_<%= @page_section.id %> div:first').css({
			'width': '<%= @page_section.scroll_width || 490 %>px',
			'height': '<%= @page_section.scroll_height || 250 %>px'
		});
});
</script>
