<div id="scroll_buttons<%= ( @for_section ? '_' + @page_section.id.to_s : '' ) %>" class="scroll-buttons-vertical">
	<%= image_tag 'scroll-left.gif', :id => "scroll_left" + ( @for_section ? '_' + @page_section.id.to_s : '' ), :size => "9x12", :alt => "scroll left" %>
	<%= image_tag 'scroll-right.gif', :id => "scroll_right" + ( @for_section ? '_' + @page_section.id.to_s : '' ), :size => "9x12", :alt => "scroll right" %>
</div>
<script type="text/javascript">
<!--
<% if @for_section %>
	$('#page_section_<%= @page_section.id %>').css({ 'height': '<%= @page_section.scroll_height || 300 %>px', 'position': 'relative' });
	$('#scroll_page_section_<%= @page_section.id %>').css({'height': '<%= @page_section.scroll_height || 300 %>px', 'overflow': 'auto'});
	// NEED JQUERY SCROLL PLUGIN
	$('#scroll_buttons<%= ( @for_section ? '_' + @page_section.id.to_s : '' )%>').css({position: 'absolute', left: ( $('#page_section_<%= @page_section.id %>').width() + 25) + 'px', top: ( $('#page_section_<%= @page_section.id %>').getHeight() - 30) + 'px'});
<% else %>
	$('#page_sections_container').css({'height': '<%= @page.scroll_height || 300 %>px', 'overflow': 'auto', 'position': 'relative'});
	// NEED JQUERY SCROLL PLUGIN
	$('#scroll_buttons<%= ( @for_section ? '_' + @page_section.id.to_s : '' )%>').css({'position': 'absolute', 'right': '-5px',' bottom': '25px'});
<% end %>
//-->
</script>
<!--[if lt IE 7]>
<script type="text/javascript">
	<% if @for_section %>
		$('#scroll_buttons<%= ( @for_section ? '_' + @page_section.id.to_s : '' )%>').css({'position': 'absolute', 'left': ( $('#page_section_<%= @page_section.id %>').width() + 25) + 'px', 'top': ( $('#page_section_<%= @page_section.id %>').height() - 30) + 'px'});
	<% else %>
		$('#scroll_buttons<%= ( @for_section ? '_' + @page_section.id.to_s : '' )%>').css({'position': 'absolute', 'right': '-20px', 'bottom': '105px'});
	<% end %>
</script>
<![endif]-->